 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 header {
     position: sticky;
     top: 0;
     background-color: rgb(191, 11, 11);
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 10px;
     flex-direction: row;
     color: white;
 }

 header img {
     width: 50px;
     height: 50px;
     border-radius: 50%;
 }

 header h1 {
     font-size: 24px;
     margin: 0;

 }